.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  position: absolute;
  right: 0px;
  top: 0px;
  width: calc(100% - 40px);
  height: 120px;
  padding: 10px 20px;
  background-image: linear-gradient(45deg, white, grey);
}

@media(min-width: 1100px) {
  img.left-menu-icon {
    display: none;
  }
}

@media(max-width: 1099px) {
  img.left-menu-icon {
    position: absolute;
    margin-top: 40px;
    margin-left: 0px;
    width: 40px;
    cursor: pointer;
  }
}

.header-content {
  margin: 15px auto;
}

@media(min-width: 1200px) {
  .header-content {
    width: 880px;
  }
}

@media(max-width: 1199px) {
  @media(min-width: 1100px) {
    .header-content {
      width: 75%;
    }
  }

  @media(max-width: 1099px) {
    @media(min-width: 900px) {
      .header-content {
        width: 680px;
      }
    }
    @media(max-width: 899px) {
      @media(min-width: 400px) {
        .header-content {
          width: 70%;
        }
      }
      @media(max-width: 399px) {
        .header-content {
          width: 60%;
        }
      }
    }
  }
}

.logo-container {
  width: 150px;
  height: 80px;
  float: left;
  border: 1px solid red;
  padding: 10px 20px;
  background: white;
}

.logout-button-container {
  float: left;
}

img.logo-img {
  width: 150px;
}

@media(min-width: 1100px) {
  input[type=submit].logout {
    width: 170px;
    height: 50px;
    margin: 30px 0px 0px 80px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }
}

@media(max-width: 1099px) {
  input[type=submit].logout {
    display: none;
  }
}
