.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 120px;
  padding: 10px 20px;
  background-image: linear-gradient(45deg, white, grey);
}

@media(min-width: 600px) {
  .header-content {
    width: 400px;
    margin: 15px 20px 10px 100px;
  }
}

@media(max-width: 599px) {
  @media(min-width: 500px) {
    .header-content {
      width: 400px;
      margin: 15px 0 10px 60px;
    }
  }
  @media(max-width: 499px) {
    .header-content {
      width: calc(100% - 60px);
      margin: 15px 0 10px 60px;
    }
  }
}

.logo-container {
  width: 150px;
  height: 80px;
  float: left;
}

.logout-button-container {
  float: right;
}

img.logo-img {
  width:150px;
}

input[type=submit].logout {
  height: 50px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

@media(min-width: 500px) {
  input[type=submit].logout {
    width: 170px;
    margin: 30px 0px 0px 30px;
  }
}

@media(max-width: 499px) {
  input[type=submit].logout {
    width: 100px;
    margin: 30px 20px 0px 10px;
  }
}
