.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flex {
  display: flex;
}

.extra-bold {
  font-weight: bold;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.blue-text {
  color: #63C5DA;
}

.content-wrapper {
  position: absolute;
  top: 140px;
  right: 0px;
  width: 100%;
  background: #F8F8F8;
  background-image: url(../../assets/images/background.png);
  background-repeat: repeat-x;
  background-size: 880px 300px;
}

.content {
  padding: 10px 20px;
  margin: 150px auto;
}

@media(min-width: 1200px) {
  .content {
    width: 960px;
  }
}

@media(max-width: 1199px) {
  .content {
    width: 80%;
  }
}

.left-bar {
  width: 200px;
  box-shadow: -1px 0px 2px 2px #C8C8C8;
  float: left;
  box-sizing: border-box;
}

.right-bar {
  width: calc(100% - 200px);
  box-shadow: 1px 0px 2px 2px #C8C8C8;
  box-sizing: border-box;
  float: right;
  background: #F8F8F8;
}

.personal-info {
  width: 100%;
  height: 220px;
  padding: 20px 10px;
  background: white;
  box-sizing: border-box;
  text-align: center;
}

p.link {
  margin-top: 0px;
  color:blue;
  font-weight:bold;
  cursor:pointer
}

.tab {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  box-shadow: 0px -2px 2px #C8C8C8;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.tab p {
  margin-top: 5px;
  color: grey;
  font-size: 13px;
}

.tab img {
  width:30px;
}

.tab img.blue {
  background: #00FFFF;
}

/*
.right-bar-heading {
  width: 100%;
  padding: 25px 25px;
}

.right-bar-tab {
  width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: white;
  box-sizing: border-box;
}

.right-bar-tab .sub-tab {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.right-bar-tab .sub-tab .s-logo-container {
  width: 30px;
  height: 30px;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  float: left;
  background: #63C5DA;
}

.right-bar-tab .sub-tab .s-logo-container .s-logo {
  margin-top: 7px;
  color: white;
  font-weight:bold
}

.right-bar-tab .sub-tab .title {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  float: left
}


.right-bar-tab .sub-tab .appointment-button {
  margin-top: 0px;
  padding: 15px 30px;
  border: 2px solid #63C5DA;
  border-radius: 15px;
  float: right;
  color: #63C5DA;
  font-weight: bold;
  font-size: 14px;
  background: white;
  cursor: pointer;
}

.right-bar-tab .sub-tab .appointment-type {
  width: 33%;
  padding:10px 10px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.right-bar-tab .sub-tab .border {
  border-left: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8
}

.right-bar-tab .sub-tab .date {
  width: 50px;
  padding: 1px 10px;
  border-radius: 5px;
  background: #63C5DA;
  text-align: center;
  float: left;
}

.right-bar-tab .sub-tab .venue-time {
  padding: 1px 15px;
  float: left;
}

.right-bar-tab .sub-tab .add-calendar {
  margin-top: 10px;
  float: right;
  cursor: pointer;
}

.right-bar-tab .sub-tab .message {
  width: 100%;
  margin: 2px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  background: pink;
  box-sizing: border-box;
  text-align: justify;
}

.right-bar-tab .sub-tab .schedule-button {
  width: 49.5%;
  padding: 15px 20px;
  border: 1px solid #63C5DA;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.right-bar-tab .sub-tab .cancel {
  background: white;
  color: #63C5DA;
  float: left;
}

.right-bar-tab .sub-tab .reschedule {
  background: #63C5DA;
  color: white;
  float: right;
}
*/
