<app-header [isModalOpen]="isModalOpen" (toggleOpenModalEvent)="updateOpenModal($event)"></app-header>
<div class="content-wrapper">
  <div class="content clearfix">
    <div class="left-bar">
      <div class="personal-info">
        <img src="../../assets/images/avatar.png" style="width:70px">
        <p style="margin-top:10px">SXXXX890D</p>
        <p class="link">My Profile</p>
        <p class="link"> My Caregivers</p>
      </div>
      <div class="tab" *ngFor="let tab of tabs" (click)="selectTab(tab.title)">
        <img src={{tab.img}} class="{{selectedTab == tab.title ? 'blue' : ''}}">
        <p>{{tab.title}}</p>
      </div>
    </div>
    <div class="right-bar">
      <app-appointment-tab *ngIf="selectedTab == 'APPOINTMENTS'"></app-appointment-tab>
    </div>
  </div>
  <app-left-menu #modal [selectedTabFromHome]="selectedTab" (updateIsModalOpenAndSelectedTabEvent)="updateIsModalOpenAndSelectedTab($event)"></app-left-menu>
</div>
